.calc{
    max-width: 1024px;
    position: relative;

    @media (max-width: 768px){    
      max-width: 768px;
    }

    @media (max-width: 320px){
      max-width: 320px;
    }
      
  }
  
  .calc__title{
    padding: 65px 0 0 75px;

    @media (max-width: 768px){
      padding: 39px 0 0 40px;
    }

    @media (max-width: 320px){
      padding: 58px 0 0 15px;
    }
  }
  
  
  .calc__line{
    left: 0px;
    top: 133px;
    background-color: #A28364;
    width: 855px;

    @media (max-width: 768px){
      top: 79px;
      width: 499.5px;
    }

    @media (max-width: 320px){
      top: 77px;
      width: 236.5px;
    }
  }

  .calc__poledlyazapoln {
    max-width: 503px;
    margin: 0 auto;
    padding: 134px 0 0 32px;
    display: flex;
    flex-direction: column;
    gap: 16px 0;

    @media (max-width: 768px){
      max-width: 260px;
      padding: 65px 0 0 0;
      gap: 16px 0;
    }

    @media (max-width: 320px){
      max-width: 201px;
      padding: 108px 0 0 0px;
      gap: 16px 0;
    }
  }
  
  .calc__pole{
    background: rgba(236, 236, 236, 0.75);
    border: 1px solid #A28364;
    min-height: 63px;
    display: flex;
    gap: 16px;
    align-items: center;
   
    @media (max-width: 768px){
      min-height: 38px;
      gap: 16px;
    }

    @media (max-width: 320px){
      border: 1px solid #A18364;
      min-height: 29px;
      gap: 16px;
    }
  }

  .calc__pole_text{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #603911;
    padding: 0 0 0 105px;

    @media (max-width: 768px){
      font-size: 15px;
      line-height: 18px;
      padding: 0 0 0 52px;
    }

    @media (max-width: 320px){
      font-size: 10px;
      line-height: 12px;
      padding: 0 0 0 48px;
    }
  }

  .calc__pole_text-second{
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #603911;
    padding: 0 0 0 62px;

    @media (max-width: 768px){
      font-family: 'Inter';
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      line-height: 18px;
      display: flex;
      align-items: center;
      text-align: center;
      color: #603911;
      padding: 0 0 0 25.5px;
    }

    @media (max-width: 320px){
      font-size: 10px;
      line-height: 12px;
      padding-left: 28px;
    }
  }

  .calc__pole-itog{
    background: #CDB59C;
    border: 1px solid #A28364;
    min-height: 63px;
    display: flex;
    gap: 16px;
    align-items: center;
   

    @media (max-width: 768px){
      min-height: 38px;
      gap: 16px;
      /*padding: 0 0 0 78px;*/
    }

    @media (max-width: 320px){
      border: 1px solid #A18364;
      min-height: 30px;
      gap: 16px;
    }
  }

  .calc__pole_text-itog{
    font-weight: 400;
    font-size: 25px;
    line-height: 30px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D2207;
    padding-left: 98px;

@media (max-width: 768px){
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #3D2207;
    padding-left: 47px;
  }

  @media (max-width: 320px){
    font-size: 10px;
    line-height: 12px;
    padding-left: 45px;
  }
}
 
  .service__card-second{
    border: 3px solid #A18364;
    min-height: 217px;
    display: flex;
    gap: 21px;
    align-items: center;
    padding: 0 0 0 26px;

    @media (max-width: 768px){
      min-height: 107px;
      gap: 25px;
      padding: 0 0 0 93px;
    }

    @media (max-width: 320px){
      border: 1px solid #A18364;
      min-height: 45px;
      gap: 14px;
      padding: 0 0 0 17px;
    }
  
  }


  .footer__calc{
    max-width: 1024px;
    position: relative;
    min-height: 185px;
    padding: 0px 10px 0 10px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    /*gap: 85px 0;*/
    padding: 252px 10px 0 10px;

    @media (max-width: 768px){
      max-width: 768px;
      min-height: 84px;
      padding: 120px 10px 0 10px;
    }

    @media (max-width: 320px){
      max-width: 320px;
      min-height: 39px;
      padding: 230px 11px 0 11px;
    }
  }



  
  /*<!-- <div class="uCalc_432497">
  </div>
  <script> 
  var widgetOptions432497 = { bg_color: "transparent" }; 
  (function() 
  { var a = document.createElement("script"), 
  h = "head"; 
  a.async = true; 
  a.src = (document.location.protocol == "https:" ? "https:" : "http:") + "//ucalc.pro/api/widget.js?id=432497&t="+Math.floor(new Date()/18e5); 
  document.getElementsByTagName(h)[0].appendChild(a) 
  })();
  </script> -->

  

